@model WebApplication3.Models.CalcModel

@{
    ViewData["Title"] = "Home Page";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Halim's Web Calculator</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



    <script>
        $(document).ready(function () {
            $("button").on({         
                    mouseenter: function () {
                    $(this).css("background-color", "lightblue");
                    },
@*                    mouseleave: function () {
                        $(this).css("background-color", "lightblue");
                    },*@
                    click: function () {
                        $(this).css("background-color", "yellow");
                    }
            });
            $("Button").click(function () {
                var BtNr = $(this).text();
                if ($("#nbr").val() == "0")
                    $("#nbr").val("");
                $("#nbr").val($("#nbr").val() + BtNr);
            });
        });
    </script>
</head>

<div class="text-center">
    <h1 class="display-4">My Calculator</h1>
@*    <p>Learn about <a href="https://www.sber.ru">Sber</a>.</p>*@
</div>

<body class="Calcs">
    <div class="display-4">

        <form action="Calc" method="post">

            <input type="text" name="Number1" id="nbr" value="@Model.Number1" />

            <input @*type="text"*@ type="hidden" name="Number2" value="@Model.Number2" />
            <br />
            <h1> @Model.Result </h1>
            <br />
            <div class="#">
            <input type="submit" name="Op" class="btn-success" value="+" />
            <input type="submit" name="Op" class="btn-danger" value="-" />
            <input type="submit" name="Op" class="btn-outline-success" value="*" />
            <input type="submit" name="Op" class="btn-primary" value="/" />
                </div>
        </form>
        <div class="#">
            <button class="">1</button>
            <button class="">2</button>
            <button>3</button>
            <br />
            <button>4</button>
            <button>5</button>
            <button>6</button>
            <br />
            <button>7</button>
            <button>8</button>
            <button>9</button>
            <button>0</button>
        </div>
    </div>
    

</body>
</html>
